@import '../sass/font'

body
	margin: 0
	background-color: #ffffff

.header
	width: 100%
	max-width: 937px
	margin: 0 auto
	padding-top: 13px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	

.nav
	margin: 0 auto
	&_menu
		list-style: none
		padding-left: 23px
		display: flex

		li 
			margin-right: 17px

		a 
			text-transform:  uppercase
			font-size: 15px
			font-weight: 550
			color: #663300


.contact
	margin: 0 auto
	color: #663300

	&_tel
		font-family: "RobotoLight"
		font-weight: 300		
		font-size: 17.5px
		letter-spacing: 0.2px
		span
			font-family: 'RobotoMedium'
			font-weight: 500
			letter-spacing: 0.2px
			
	&_consultation
		font-family: "Roboto"
		font-size: 13px
		letter-spacing: -0.07px

.first-box
	width: 100%
	height: 710px
	display: flex
	align-items: center
	justify-content: center
	background: url(../image/back.png) no-repeat center
	background-size: cover
	position: relative
	z-index: 0
	&_text
		color: #ffffff
		h1
			text-align: center
			font-size: 80px
			font-weight: 400
			letter-spacing: 2px
			font-family: "BebasNeue"
		p
			text-align: center
			font-size: 24px
			font-family: sans-serif

.services_box
	width: 100%
	max-width: 954px
	margin: 0 auto
	padding-top: 43px
	display: flex
	flex-wrap: wrap
	align-items: center
	&_logo
		padding-left: 350px
		text-align: center
	h1
			color: #663300
			font-family: 'BebasRegular'
			font-size: 48px
			text-transform: uppercase

.service_content
	padding-top: 45px
	display: flex
	justify-content: space-between

.price_button
	margin: 50px auto
	text-align: center
	background-color: #7ec52e
	box-shadow: 0 3px 0 #33691e
	border-radius: 5px
	cursor: pointer
	width: 384px
	height: 71px
	p

		display: inline-block
		font-color: #000000
		font-family: 'BebasNeue'
		font-size: 28px
		font-weight: 400
		line-height: 20px

.second_box
	width: 100%
	height: 474px
	display: flex
	align-items: center
	justify-content: center
	background: url(../image/back_2.png) no-repeat center
	background-size: cover
	position: relative
	z-index: 0




		










